<div class='wrapper'>
  <h2>My Tasks</h2>

  <ul class='task__list'>
    <% @tasks.map do |task|%>
      <li class="list__style">

          <input class="task__input" type='checkbox' value='check'>

        <a class="task__link" href="tasks/<%= task.id %>">
          <%= task.title%>
        </a>

        <%= link_to "Delete",
          task_path(task.id),
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
            }
        %>

      </li>
    <% end %>
  </ul>



  <div class="add__new">
    <a class="task__link" href="tasks/new">
      Add a new task
    </a>
  </div>
</div>
