/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.index__wrapper {
	width: 500px;
	margin: 0 auto;
}

h1 {
	font-size: 5rem;
	text-align: center;
}
a {
	text-decoration: none;
	color: #000;
}
.task__list {
	list-style-type: none;
	padding-left: 0;
	font-size: 2rem;
	text-align: center;
}

.list__style {
	/* border: 1px solid red; */
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: flex-start;
	width: 200px;
	margin: 0 auto;
}
.task__link:link,
.task__link:visited {
	color: #555;
}
.task__link:hover,
.task__link:active {
	color: #777;
	text-decoration: dotted;
}
input[type="checkbox"] {
	vertical-align: middle;
	position: relative;
	bottom: 2px;
}
